.nxt-remote  {
  width: 100%;
  height: 100%;
}

.nxt-remote header {

}

.nxt-remote .video {
  text-align: center;
  height: 49%;
  width: 100%;
  border: solid 1px silver;
}

.nxt-remote .movement {
  height: 24%;
  width: 100%;
}

.nxt-remote .movement .row {
  padding-top: 2%;
}

.nxt-remote footer {

}
