<div class="nxt-remote"  ng-controller="RemoteCtrl">
    <header>
        <h1>Lego Nxt <small>Remote</small></h1>
    </header>
    <div class="sensor">
        <div class="col-xs-3">
            <div>{{robot.sonarFront.name}}</div>
            <div ng-class="{'warning': robot.sonarFront.reading.distance <= robot.collisionDistance, '': robot.sonarFront.reading.distance > robot.collisionDistance}">{{robot.sonarFront.reading.distance}}</div>
        </div>
        <div class="col-xs-3">
            <div>{{robot.sonarBack.name}}</div>
            <div ng-class="{'warning': robot.sonarBack.reading.distance <= robot.collisionDistance, '': robot.sonarBack.reading.distance > robot.collisionDistance}">{{robot.sonarBack.reading.distance}}</div>
        </div>
        <div class="col-xs-3">
            <div>{{robot.compass.name}}</div>
            <div>{{robot.compass.reading.degrees}}</div>
        </div>
        <div class="col-xs-3">
            <div>{{robot.touch.name}}</div>
            <div>{{robot.touch.reading.pressed}}</div>
        </div>
    </div>
    <div class="video">
        <small>VIDEO CAMERA - NOT IMPLEMENTED</small>
    </div>
    <div class="movement">
    <div class="row">
        <div class="col-xs-4 col-xs-offset-4 text-center">
            <button id="btnForward" class="btn btn-default btn-lg" ng-click="robot.forward(100)"><i class="glyphicon glyphicon-arrow-up"></i></button>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4 text-right">
            <button id="btnLeft" class="btn btn-default btn-lg" ng-click="robot.left(75)"><i class="glyphicon glyphicon-arrow-left"></i></button>
        </div>
        <div class="col-xs-4 text-center">
            <button id="btnStop" class="btn btn-default btn-lg" ng-click="robot.stop()"><i class="glyphicon glyphicon-stop"></i></button>
        </div>
        <div class="col-xs-4 text-left">
            <button id="btnRight" class="btn btn-default btn-lg" ng-click="robot.right(75)"><i class="glyphicon glyphicon-arrow-right"></i></button>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4 col-xs-offset-4 text-center">
            <button id="btnReverse" class="btn btn-default btn-lg" ng-click="robot.backward(100)"><i class="glyphicon glyphicon-arrow-down"></i></button>
        </div>
    </div>
    </div>
    <footer class="btn-group btn-group-lg">

        <button class="btn btn-default" ng-class="{'btn-info': robot.voiceListener, '': !robot.voiceListener}" ng-click="robot.toggleVoice()"><i class="glyphicon glyphicon-volume-up"></i></button>
        <button class="btn btn-default" ng-class="{'btn-info': robot.tiltListener, '': !robot.tiltListener}" ng-click="robot.toggleTilt()"><i class="glyphicon glyphicon-fullscreen"></i></button>
        <button class="btn btn-default" ng-click="robot.sing()"><i class="glyphicon glyphicon-music"></i></button>

        <button id="btnConnect" class="btn btn-default" ng-class="{'btn-success': robot.isConnected, 'btn-danger': !robot.isConnected}" ng-click="robot.toggleConnect()">Connect</button>
    </footer>
</div>
